.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.page-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotspot {
  position: absolute;
  width: 335px;
  height: 100px;
  background: rgba(255, 255, 255, 0.15); 
  border: 2px solid #00aaff;
  border-radius: 10px;
  cursor: pointer;
}

.hotspotpage2 {
  position: absolute;
  width: 370px;
  height: 370px;
  background: rgba(255, 255, 255, 0.15); 
  border: 2px solid #00aaff;
  border-radius: 10px;
  cursor: pointer;
}

.hotspotpage3 {
  position: absolute;
  width: 335px;
  height: 100px;
  background: rgba(255, 255, 255, 0.15); 
  border: 2px solid #00aaff;
  border-radius: 10px;
  cursor: pointer;
}

.hotspotpage4 {
  position: absolute;
  width: 330px;
  height: 100px;
  background: rgba(255, 255, 255, 0.15); 
  border: 2px solid #00aaff;
  border-radius: 10px;
  cursor: pointer;
}


.color-dot {
  position:absolute;
  width:140px;
  height:140px;
  border-radius:50%;
  border:none;
  padding:0;
  cursor:pointer;
}

/* use the data-color as background */
.color-dot[data-color] {
  background-color: currentColor;
}

/* little trick so each button actually has its own color in JS (see init below) */

